@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap');



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   -clr--Soft-blue: -clr-Very-dark-blue-main-BG;
-clr--Cyan: hsl(178, 100%, 50%);
-clr-Very-dark-blue-main-BG: hsl(217, 54%, 11%);
-Very-dark-blue-card-BG: hsl(216, 50%, 16%);
-Very-dark-blue-line: hsl(215, 32%, 27%);
-White: hsl(0, 0%, 100%);
}

html{
    font-size: 16px;
}
img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

body{
background-color:  hsl(217, 54%, 11%);
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
height: 100vh;
font-family: 'Outfit', sans-serif;
color: ;
}

.card-container{
    background-color:var(-Very-dark-blue-card-BG);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center ;
    margin: 4rem;
    padding: 1.25rem;
    border-radius: 10px;

}
.img-container img{
    border-radius: 10px;
    margin-bottom: 2rem;
    padding-botto

}


